body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: left;
    /*padding-top: 5%;*/
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Wyrównanie elementów do lewej strony */
}

.background2 {
    background-image: url('images/background2.png');
    background-size: cover;
    background-position: left 50%;
    /*padding-top: 5%;*/
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Wyrównanie elementów do lewej strony */
}


.game_logo {
    width: 70%;
    padding: 30px 0;

    /* Dodanie paddingu do góry i dołu */
}

.win_logo {
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
    /* Dodajemy wyrównanie pionowe */
}


.slogan {
    width: 60%;
    margin: 20px 0;
    font-size: 1.2em;
    color: #D5EEEF;
}

.slogan2 {
    width: 85%;
    margin: 20px 0;
    font-size: 1.2em;
    color: #D5EEEF;
}


.dropdown {
    width: auto;
    /* Zmiana szerokości przycisku */
    margin-bottom: 15px;
}

.dropbtn {
    background-color: #8B0000;
    color: white;
    padding: 12px;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .slogan {
        width: 100%;
    }
}

@media (pointer:none),
(pointer:coarse) {
    .background {
        background-position: 65% center;
    }

    .game_logo {
        width: 100%;
        padding: 30px 0;
        padding-top: 4vh;
        padding-bottom: 4vh;

    }
}

@media screen and (max-height: 600px) {}

.stats {
    color: rgb(198, 226, 251);
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 25px;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    position: fixed;
    bottom: 0;
    padding-bottom: 2%;
    margin-bottom: 1%;
}

.footer-left {
    color: rgb(84, 84, 84);
}

.footer-right {
    color: rgb(106, 106, 106);
    padding-right: 10%;
}

.footer-left a {
    font-weight: lighter;
    color: #888E91;
    text-decoration: none;
}

.links {
    font-weight: lighter;
    color: #888E91;
    text-decoration: none;
}